<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Photos | Your Life</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Raleway:400,700,800%7CWork+Sans:400,700'>
    <link rel="stylesheet" href="master.css">
    <link rel="stylesheet" href="responsive.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--http://stackoverflow.com/questions/8648629/how-to-print-array-in-underscore-js-template
      //props to Drew M and Jacob ) -->
    <script type="text/html" id="albumTmpl">
    <div class = "<%= albumName %>">
      <li>
        <a href="#"><img src = "<%= imgs[0] %>"></a>
        <h3><%= albumName %></h3>
      </li>
    </div>
    </script>
    <script type="text/html" id="galTmpl">
    <div class = "<%= albumName %> hidden-section">
        <ul>
          <li>
            <% for (var img in imgs){ %>
            <a href="#"><img rel= "1" src = "<%= imgs[img] %>"></a>
            <% } %>
        </li>
      </ul>
    </div>
  </script>
  </head>
  <body>
    <header>
    </header>
   <body>
      <section class ="album-view active-section">
        <div class="album-wrapper">
          <ul class = "album-photos">

          </ul>
      </div>
        </section>
        <section class = "gallery-view">
          <nav class="sideNav">
            <ul>
              <li><a rel = "AlbumView" href="#">ALBUMS</a></li>
              <li><a rel ="Wedding" href="#">Wedding</a></li>
              <li><a rel ="Bear" href="#">Bear</a></li>
              <li><a rel ="Love" href="#">Love</a></li>
              <li><a rel ="Friends" href="#">Friends</a></li>
              <li><a rel ="Greece" href="#">Greece</a></li>
              <li><a rel ="Family" href="#">Family</a></li>
            </ul>
          </nav>
          <div class = "gallery-photos">
          </div>
        </section>
      <section class= "photo-view">
        <div class = "backtoAlb">
          <a href="#"><h1>Back to Album</h1></a>
        </div>
        <div class="photo-wrapper">
          <img src="" alt="" />
        </div>
      </section>
      <footer>
        <p>&copy; 2015 Maxwell Krause.</p>
      </footer>
    </div>
    <<script type="text/javascript" src="bower_components/underscore/underscore.js">
    </script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js">
    </script>
    <script type="text/javascript" src="photodata.js">
    </script>
    <script type="text/javascript" src="main.js">
    </script>
  </body>
</html>
